*{
    margin: 0;
    padding: 0;
}
.commandes{
    background-color: #2563eb;
}
.page_content{
    /* background-color: bisque; */
    width: 100vw;
    height: auto;
    margin-left: 21%;
    margin-top: 6%;
    margin-right: 1%;
}
.title {
    /* background-color: aqua; */
    font-size: 20px;
    line-height: 50px;
}
.icon_div{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 25px;
}
.produits, .stock, .valeur, .attente{
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: #fff;
    /* border: solid 2px black; */
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produits:hover, .stock:hover, .valeur:hover, .attente:hover{
     transform: translateY(-10px);
}
.icon{
    /* background-color: aqua; */
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
}
.A{
    display: flex;
    gap: 10px;
}
.A i{
    font-size: 40px;
}
.bleu{
    background-color: #2762e5;
}
.orange{
    background-color: #e69106;
}
.vert{
    background-color: #08b582;
}
.violet{
    background-color: #9566f9;
}
.debut{
    display: flex;
    gap: 20px;
    margin-top: 50px;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     padding: 30px;
     /* align-items: center; */
     align-items: flex-end;
}
.stat, .period{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.re_div{
    display: flex;
}
.re_div input{
   padding: 10px;
   font-size: 18px;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   width: 250px;
   border: none;
   border: solid 1px grey;
   outline: none;
   cursor: pointer;
}
.re_div:focus{
    border-color: solid 1px black;
}
.re{
    background-color: #2563eb;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}
.stat select, .period select{
    padding: 16px;
    font-size: 18px;
    border-radius: 10px;
}
.com_1{
    margin-top: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* gap: 30px; */
}
.com_f{
    margin-top: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* gap: 30px; */
}
.com_1:hover, .com_f:hover{
     transform: translateY(-10px);
}
.com_nom, .com_qui{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.com_thing{
    display: flex;
    justify-content: space-between;
   background-color: #e8ebf2;
   padding: 10px;
   align-items: center;
   border-radius: 10px;
}
.le_p{
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.bold{
    font-weight: bold;
}
.dana{
    display: flex;
    gap: 20px;
    padding: 10px;
    
}
.dana button{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    /* border: none; */
}
.dana_bla{
    background-color: #2563eb;
    border: none;
    color: #fff;
}
.dana_fari{
    background-color: #fff;
    border: solid 1px #e8ebf2;
}
.dana_g{
    border: none;
    background-color: #e8ebf2;
}
.cn{
    line-height: 25px;
    gap: 10px;
}
.bluey{
    color: #2563eb;
}
.nt{
    font-size: 25px;
}
.j{
    font-size: 19px;
    color: grey;
}
.kudin{
    font-size: 25px;
    font-weight: bold;
}
.pp{
    font-size: 18px;
}
.bl{
    background-color: #0caeeb;
    color: #fff;
}
.thing{
    font-size: 20px;
}
@media screen and (max-width: 1024px) {
    
    .page_content{
    margin-left: 26%;
    margin-top: 10%;
    margin-right: 1%;

}
.icon_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 25px;
}
.debut{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: aqua; */
}
.stat, .period{
    width: 100%;
}
}
@media screen and (max-width: 768px) {
    
    .page_content{
        margin-left: 2%;
        margin-right: 2%;
    }
}







/* ----------popup----------- */

/* Bouton */
/* .open-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2563eb;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, transform 0.2s;
} */
.open-btn:hover {
  /* background-color: #1e40af; */
  transform: scale(1.05);
}

.header{
     margin-bottom: 30px;
     padding: 10px;
}
/* .mp{
    padding: 20px;
    display: flex;
    gap: 10px;
    font-size: 25px;
    margin-bottom: 20px;
} */
.lui_1{
    margin-top: 20px; 
    font-size: 20px;
    padding: 20px;
    border-bottom: solid 2px #0caeeb;
    
}
.lui_2{
     margin-top: 20px; 
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.lui i{
    font-size: 35px;
}
.section1{
    display: flex;
    gap: 70px;
    margin-top: 20px;
}
.sous_sec p+p{
    margin-bottom: 20px;
}
.inf, .inf_b{
    line-height: 30px;
}
.inf_b{
    margin-bottom: 10px;
}
.infos, .infos1{
    font-size: 20px;
    padding: 20px;
    border-bottom: solid 2px #0caeeb;
}
.com_thing1{
    display: flex;
    justify-content: space-between;
   background-color: #e8ebf2;
   padding: 10px;
   align-items: center;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 20px;
}
.fond_gri{
    font-size: 14px;
    color: grey;
}

.maj{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-top: 20px;
}

.maj button{
    
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    border: solid grey 1px;
    cursor: pointer;
    /* color: #fff; */
}
.observation textarea{
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.observation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.observation1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}.observation1 input{
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: solid 0.5px grey;
}

/* Arrière-plan flou (overlay) */
.overlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: blur(5px); */

  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  /* filter: blur(4px); */
}

/* Quand la fenêtre est ciblée (clic sur le lien) */

.overlay:target{
  display: flex;
}
/* Fenêtre (popup) */
.popup {
    display: flex;
    flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 15px;
  /* width: 37%; */
  height: 80%;
  gap: 10px;
  overflow-y: auto;
  /* text-align: center; */
  position: relative;
  animation: show 0.3s ease-out;
}

/* Animation d'apparition */
@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
  font-size: 28px;
  color: #333;
}
.close:hover {
  color: red;
}