*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#1e3a5f;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin:  auto;
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
}
.white_part{
    background-color: #ffffff;
    width: 55%;
    height: 50%;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.blue_part{
    background: linear-gradient(135deg, #23487a, #1e3a5f);
    width: 45%;
    height: 50%;
    padding: 50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.white_part h1{
    text-align: center;
    color: #23487a;
}
.informations{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.informations input{
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: solid 1px gray;
    outline: none;
    font-size: 15px;
}
.informations input:focus{
    border: solid 2px #23487a,;
}

button{
    padding: 15px;
    width: 60%;
    border-radius: 30px;
    border: none;
    background-color: #23487a;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
}
.blue_part{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo{
    display: flex;
    justify-content:center;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 500px;
   margin-bottom: 20px;
   margin-top: 50px;
}
.logo p{
     font-size: 30px;
     color:#23487a;
     font-weight: bold;
}
.name{
    color: #ffffff;
}
.name h2{
    font-size: 28px;
    font-weight: 700;
}
.name p{
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
      .white_part{
    width: 55%;
   }
   .blue_part{
    width: 45%;
   }
   .main{
    width: 93%;
   }
   .informations input{
    padding: 8px;
   }
}