*{
    margin: 0;
    padding: 0;
}
.notifications{
    background-color: #2563eb;
}
.page_content{
    /* background-color: bisque; */
    width: 100vw;
    height: auto;
    margin-left: 21%;
    margin-top: 6%;
    margin-right: 1%;
}
.title {
    /* background-color: aqua; */
    font-size: 20px;
    line-height: 50px;
}
.icon_div{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 25px;
}
.produits, .stock, .valeur, .attente{
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: #fff;
    /* border: solid 2px black; */
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produits:hover, .stock:hover, .valeur:hover, .attente:hover{
     transform: translateY(-10px);
}
.icon{
    /* background-color: aqua; */
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
}
.A{
    display: flex;
    gap: 10px;
}
.A i{
    font-size: 40px;
}
.bleu{
    background-color: #2563eb;
}
.rouge{
    background-color: red;
}
.vert{
    background-color: green;
}
.gris{
    background-color: grey;
}

@media screen and (max-width: 1024px) {
    
    .page_content{
    margin-left: 26%;
    margin-top: 10%;
    margin-right: 1%;

}
.icon_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 25px;
}
}
@media screen and (max-width: 768px) {
    
    .page_content{
        margin-left: 2%;
        margin-right: 2%;
    }
}