*{
    margin: 0;
    padding: 0;
}
.parametres{
    background-color: #2563eb;
}
.page_content{
    /* background-color: bisque; */
    width: 100vw;
    height: auto;
    margin-left: 21%;
    margin-top: 6%;
    margin-right: 1%;
}
.title {
    /* background-color: aqua; */
    font-size: 20px;
    line-height: 50px;
}
.A{
    display: flex;
    gap: 10px;
}
.A i{
    font-size: 40px;
}
.header{
    display: flex;
    gap: 10px;
    font-size: 25px;
    margin-top: 20px;
    background-color: #e8ebf2;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tout_1{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* overflow: hidden; */
}
.tout_2{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
}
.tout_noti{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* margin-bottom: 30px; */
    padding: 30px;
    /* border: solid 2px black; */
}
/* conteneur principal */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
/* cacher la case à cocher par défaut */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* le fond de l’interrupteur */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
/* le bouton rond à l’intérieur */
.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
/* quand le switch est activé */
.switch input:checked + .slider {
  background-color: #2563eb; /* bleu = activé */
}
/* le rond glisse à droite */
.switch input:checked + .slider::before {
  transform: translateX(22px);
}
.noti{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
    border: solid 0.5px grey;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: center;
}
.noti:hover{
    border: solid 1px #2563eb;
}
.not_titr{
    font-size: 18px;
    line-height: 40px;
}
.sel{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.alerte input{
    padding: 10px;
    border-radius: 10px;
    /* border: none; */
    border: solid 1px grey;
    /* outline: none; */
}
.b_g{
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #0caeeb;
    cursor: pointer;
}
.g_b{
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    border: solid 1px grey;
    background-color: #fff;
    cursor: pointer;
}
.a_g{
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #e8ebf2;
    cursor: pointer;
}
.bl_g{
     padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #2563eb;
    cursor: pointer;
}
.tout_noti1{
    display: flex;
    padding: 30px;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    
    .page_content{
    margin-left: 26%;
    margin-top: 10%;
    margin-right: 1%;

}
.tout_noti{
    display: grid;
    grid-template-columns: 1fr;
}
.noti{
    padding: 20px;
}
.tout_noti1{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
}
}
@media screen and (max-width: 768px) {
    
    .page_content{
        margin-left: 2%;
        margin-right: 2%;
    }
}